<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<!-- ADD STYLING HERE-->
    <style>
        
        .menuContainer {
            background-color: #404040;
            min-height: 150%;
        }
        
        .clubFixturesContainer {
            background-color: burlywood;
            min-height: 150%;
        }
        
        .menuIcon {
            padding-bottom: 10px;
        }
        .menuElement {
            padding-bottom: 25px;
        }
        .menuText {
            color: #4cc3d9;
        }
        
        .graph {
            width: 100%;
        }

        
    </style>
    
<!--    INCLUDE STATIC FILES HERE-->
    <head>
        <title>CDCL</title>
        
        <meta chatset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link
              rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
        </script>
        
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <script src="{% static 'js/common.js' %}"></script>
        <script src="{% static 'js/announcements.js' %}"></script>
        
        
    </head>
<!--    ALL JAVASCRIPT/JQUERY GOES HERE-->
    <script>
        
        
        $(document).ready(function() {
            
            var pageMessage = {{pageMessage|safe}};
            
            handlePageMessage(pageMessage);
            menuHover();
            displayConfirmationModal();
            selectPostToLocation();
            submitAnnouncementForm();
        
        });
        
    </script>

    <body>

        {% block content %}
            <form id="announcementForm" method="post" action=".">
            {% csrf_token %}
            {% for field in announcementForm %}
            {{ field.as_hidden }}
            {% endfor %}
        {% endblock %}
        
<!--        PAGE MESSAGE MODAL-->
        
        <div id="messageModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <div class="modal-content">
                    <div class="modal-header messageModelHeader">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title" id="messageTitle"></h2>
                    </div>
                    <div class="modal-body">
                        
                        <div class="col-sm-12"><br></div>
                        
                        <div class="col-sm-12">
                            <h3 id="messageBody"></h3>
                        </div>
                        
                    </div>

                    <div class="modal-footer">

                    </div>
                
                </div>

            </div>
        </div>

        <div id="confirmationModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <div class="modal-content">
                    <div class="modal-header confirmationModelHeader">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title" id="confirmationTitle">Confirm Announcement</h2>
                    </div>
                    <div class="modal-body">
                        
                        <div class="col-sm-12"><br></div>
                        
                        <div class="col-sm-12" align="middle">
                            <h3>Are you sure you want to post?</h3>
                        </div>


                        <div class="col-sm-12 row" align="middle">
                            <div class="col-sm-6">
                                <button type="button" id="cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" id="submit" class="btn btn-success" data-dismiss="modal">Accept</button>
                            </div>
                        </div>


                    </div>

                    <div class="modal-footer">

                    </div>
                
                </div>

            </div>
        </div>
        
        
        
        <!-- TOP NAV BAR -->
        <div class="container-fluid navbarContainer row">
            <div class="col-sm-12 topNavBar" align="middle">
                <div class="col-sm-2 home">
                    <br>
                    <img id="aboutIcon" class="navbarIcon" src="{% static "images/homeIcon.png" %}">
                    <p class="navbarText">Home</p>
                </div>
                <div class="col-sm-2 about">
                    <br>
                    <img id="aboutIcon" class="navbarIcon" src="{% static "images/aboutIcon.png" %}">
                    <p class="navbarText">About</p>
                </div>
                <div class="col-sm-2 officers">
                    
                    <br>
                    <img id="officerIcon" class="navbarIcon" src="{% static "images/officerIcon.png" %}">
                    <p class="navbarText">Officers</p>
                    
                </div>
                <div class="col-sm-2 rules">
                    <br>
                    <img id="rulesIcon" class="navbarIcon" src="{% static "images/rulesIcon.png" %}">
                    <p class="navbarText">Rules &amp; Constitution</p>
                </div>
                <div class="col-sm-2 clubs">
                    <br>
                    <img id="clubIcon" class="navbarIcon" src="{% static "images/clubIcon.png" %}">
                    <p class="navbarText">Clubs</p>
                </div>
                <div class="col-sm-2 results">
                    <br>
                    <img id="resultsIcon" class="navbarIcon" src="{% static "images/resultsIcon.png" %}">
                    <p class="navbarText">Results</p>
                </div>
                 
            </div>
        </div>
        
        
        
        
        <div class="container-fluid dashContainer row">

            <div class="col-sm-2 menuContainer" align="middle">
                <h2 class="menuText">MENU</h2>
                <br>
                <table>
                    <tbody>
                        <tr>
                            <td class="menuElement" id="postAnnouncementElement" align="middle">
                                <img id="announcementIcon" class="menuIcon" src="{% static "images/announcementIcon.png" %}">
                                <p class="menuText">Announcements</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="menuElement" id="contactElement" align="middle">
                                <img id="sendMailIcon" class="menuIcon" src="{% static "images/sendMailIcon.png" %}">
                                <p class="menuText">Mailing</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="menuElement" id="clubManagement" align="middle">
                                 <a href="{% url 'clubManagement' %}">
                                     <img id="clubManagementIcon" class="menuIcon" src="{% static "images/clubManagementIcon.png" %}">
                                    <p class="menuText">Clubs</p>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="menuElement" id="players" align="middle">
                                <a href="{% url 'playerManagement' %}">
                                    <img id="playersIcon" class="menuIcon" src="{% static "images/playersIcon.png" %}">
                                    <p class="menuText">Players</p>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="menuElement" id="fixtures" align="middle">
                                <a href="{% url 'fixtures' %}">
                                    <img id="fixuresIcon" class="menuIcon" src="{% static "images/fixtures.png" %}">
                                    <p class="menuText">Fixtures</p>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="menuElement" id="addResults" align="middle">
                                <img id="addResultsIcon" class="menuIcon" src="{% static "images/resultsIcon.png" %}">
                                <p class="menuText">Submit Results</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="menuElement" id="userDetails" align="middle">
                                <img id="userDetailsIcon" class="menuIcon" src="{% static "images/userDetailsIcon.png" %}">
                                <p class="menuText">User Details</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="menuElement" id="toolSettings" align="middle">
                                <img id="settingsIcon" class="menuIcon" src="{% static "images/settingsIcon.png" %}">
                                <p class="menuText">User Management &amp; Tool Settings</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="menuElement" id="forum" align="middle">
                                <img id="forumIcon" class="menuIcon" src="{% static "images/forumIcon.png" %}">
                                <p class="menuText">Forum</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="menuElement" id="finance" align="middle">
                                <img id="financeIcon" class="menuIcon" src="{% static "images/financeIcon.png" %}">
                                <p class="menuText">Finance</p>
                            </td>
                        </tr>
                    
                    </tbody>
                </table>
                
            </div>
            
            <div class="container-fluid col-sm-10 mainContainer">
                <div class="col-sm-12">
                    <h3>Announcements</h3>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="col-sm-12 row-eq-height">
                    <div class="col-sm-8" id="announcementFormContainer">
                        <div class="col-sm-12">
                            <h4>Create New Announcement:</h4>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-2">
                                <h4>Title:</h4>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control announcementInput" id="title">
                            </div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-2">
                                <h4>Body:</h4>
                            </div>
                            <div class="col-sm-10">
                                <textarea class="form-control announcementInput" rows="30" id="body"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-2">
                                <h4>Post To:</h4>
                            </div>
                            <div class="col-sm-10">
                                <div class="dropdown">
                                    <button class="btn btn-primary postToDropdown dropdown-toggle" type="button" data-toggle="dropdown">Select
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li class="postToOption" id="m">Main Page</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="button" id="acceptAnnouncement" class="btn btn-primary" data-dismiss="modal">Accept</button>
                        </div>
                    </div>
                    <div class="col-sm-4" id="prevAnnouncementsContainer">
                        <div class="col-sm-12">
                            <h4>Previous Announcements:</h4>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
        <div class="container-fluid footer">
            <a href="{% url 'logout' %}">
                <img id="logoutIcon" class="logoutIcon" src="{% static 'images/logoutIcon.png' %}">
            </a>
        </div>
        
        
    </body>
</html>