<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<!-- ADD STYLING HERE-->
    <style>
        
        .mainContent {
            padding-top: 30px;
            padding-left: 30px;
        }
        
        .pageHeader {
            padding-top: 30px;
            padding-left: 30px;
        }
        
        .sidebarIcon {
            width: 64px;
            height: 64px;
        }
        
        .linksColumn {
            padding-top: 30px;
        }
        
        
    </style>
    
<!--    INCLUDE STATIC FILES HERE-->
    <head>
        <title>CDCL</title>
        
        <meta chatset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link
              rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
        </script>
        
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <script src="{% static 'js/indexPage.js' %}"></script>
        <script src="{% static 'js/common.js' %}"></script>
        
    </head>
<!--    ALL JAVASCRIPT/JQUERY GOES HERE-->
    <script>
        
        
        $(document).ready(function() {

            var pageMessage = {{pageMessage|safe}};
            console.log(pageMessage);

            handlePageMessage(pageMessage);

            displayLoginModal();

            submitLoginForm();
            
        });
        
    </script>

    <body>
        
        {% block content %}
        <form id="loginForm" method="post" action=".">
            {% csrf_token %}
            {% for field in loginForm %}
            {{ field.as_hidden }}
            {% endfor %}
        {% endblock %}
        
        
        
        
 <!-- MESSAGE MODAL -->
        <div id="messageModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <div class="modal-content">
                    <div class="modal-header messageModelHeader">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title" id="messageTitle"></h2>
                    </div>
                    <div class="modal-body">
                        
                        <div class="col-sm-12"><br></div>
                        
                        <div class="col-sm-12">
                            <h3 id="messageBody"></h3>
                        </div>
                        
                    </div>

                    <div class="modal-footer">

                    </div>
                
                </div>

            </div>
        </div>
        
        
        <!-- LOGIN MODAL -->
        <div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">LOGIN</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="col-sm-12"><br></div>
                        
                        <div class="col-sm-12"><h4>Please enter your username and password</h4></div>
                        
                        <div class="col-sm-12 row">
                            <div class="col-sm-6">
                                <h5>USERNAME:</h5>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="usernameInput">
                            </div>
                            <div class="col-sm-12"><br></div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6">
                                <h5>PASSWORD:</h5>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="passwordInput">
                            </div>
                            <div class="col-sm-12"><br></div>
                        </div>
                        
                        
                    </div>

                    <div class="modal-footer">

                        <div class="col-sm-12">
                            <hr>
                        </div>

                        <div class="col-sm-12 row">
                            <button type="button" id="submitLoginForm" class="btn btn-primary" data-dismiss="modal">LOGIN</button>
                        </div>

                    </div>
                
                </div>

            </div>
        </div>
        
        
        
        
        
        <!-- TOP NAV BAR -->
        <div class="container-fluid navbarContainer row">
            <div class="col-sm-12 topNavBar" align="middle">
                <div class="col-sm-2 home">
                    <br>
                    <img id="aboutIcon" class="navbarIcon" src="{% static "images/homeIcon.png" %}">
                    <p class="navbarText">Home</p>
                </div>
                <div class="col-sm-2 about">
                    <br>
                    <a href="{% url 'about' %}">
                        <img id="aboutIcon" class="navbarIcon" src="{% static "images/aboutIcon.png" %}">
                        <p class="navbarText">About</p>
                    </a>
                </div>
                <div class="col-sm-2 officers">
                    <br>
                    <a href="{% url 'officers' %}">
                        <img id="officerIcon" class="navbarIcon" src="{% static "images/officerIcon.png" %}">
                        <p class="navbarText">Officers</p>
                    </a>
                </div>
                <div class="col-sm-2 rules">
                    <br>
                    <a href="{% url 'constitution' %}">
                        <img id="rulesIcon" class="navbarIcon" src="{% static "images/rulesIcon.png" %}">
                        <p class="navbarText">Rules &amp Constitution</p>
                    </a>
                </div>
                <div class="col-sm-2 clubs">
                    <br>
                    <a href="{% url 'clubs' %}">
                        <img id="clubIcon" class="navbarIcon" src="{% static "images/clubIcon.png" %}">
                        <p class="navbarText">Clubs</p>
                    </a>
                </div>
                <div class="col-sm-2 results">
                    <br>
                    <img id="resultsIcon" class="navbarIcon" src="{% static "images/resultsIcon.png" %}">
                    <p class="navbarText">Results</p>
                </div>
                 
            </div>
        </div>
        
        
        
        
        <div class="container-fluid">
            <div class="pageHeader">
                <h1 class="homepageTile">CANNOCK &amp; DISTRICT CHESS LEAGUE</h1>
                <p class="lead homePageDescription">Welcome to the CDCL web page.</p>
            </div>
            <hr>
        </div>
        
        <div class="container-fluid">
        
            <div class="row mainContent">

                <div class="col-sm-8 newsColumn">
                    {% for a in announcements %}
                        <div class="blog-post" id={{a.id}}>
                            <h2 class="blog-post-title">{{a.title}}</h2>
                            <p class="blog-post-meta">{{a.creationDateTime}} by <a href="#">{{a.creator.username}}</a></p>
                            <hr>
                            <p>{{a.body}}</p>
                    {% endfor %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">UPDATE!</h2>
                        <p class="blog-post-meta">July 23, 2016 by <a href="#">Rich</a></p>
                        <hr>
                        <p>Hi all.</p>
                        <p>Big changes to the site over the past few months. I've made all the static pages live (you can now click on the links at the top).</p>
                        <p>The results page is unavailable at the moment as we dont have any results yet.</p>
                        <p>I'm still working on a lot of the management side of things (e.g. where you will be able to submit your results)
                            but its all going well and should be live on the site ready for the start of next season.</p>
                        <p>I'm on holiday as of this evening, but if you have any suggestions, comments or questions
                            email me at rhs795(at)gmail(dot)com      (replace the (at) and (dot) with @ and . respectively)</p>
                        <p>I'll get back to you as soon as I can but it'll probably be after the 1st of August.</p>
                        <p>
                            Here is a quick overview of what I'll be working on when I come back and what features I'm going to implement. I've also put which
                            features are (hopefully) going to be in the first release and which ones will be coming later:
                            <ul>
                                <li>
                                    Finish fixtures management/results submission (first release)
                                </li>
                                <li>
                                    Announcement system for officers to post as I have been (first release)
                                </li>
                                <li>
                                    Player, team and club level game stats/displays (first release but will be extended over time)
                                </li>
                                <li>
                                    Account management at user and admin levels (first release)
                                </li>
                                <li>
                                    Payment record system for the treasurer (first release)
                                </li>
                                <li>
                                    Gallery section
                                </li>
                                <li>
                                    Forum
                                </li>
                                <li>
                                    Email notification system
                                </li>
                                <li>
                                    Probably other things I've forgotten about
                                </li>
                            </ul>
                        <hr>
                    </div>

                    <div class="blog-post">
                        <h2 class="blog-post-title">WELCOME!</h2>
                        <p class="blog-post-meta">April 23, 2016 by <a href="#">Rich</a></p>
                        <hr>
                        <p>Welcome to the CDCL website and league management tool.</p>
                        <p>This site is currently under construction but will be live in the near future.</p>
                        <p>Please check back soon for updates and progress.</p>
                        <p>Cheers, Rich.</p>
                        <hr>
                    </div>

                </div>

                <div class="col-sm-4 linksColumn">
                    <div class="login" align="middle">
                        <img id="loginIcon" class="sidebarIcon" src="{% static "images/loginIcon.png" %}">
                        <p>Login</p>
                    </div>
                    <div class="register" align="middle">
                        <br>
                        <a href="{% url 'registrationPage' %}">
                            <h4>
                                Not a got an account? Register here!
                            </h4>
                        </a>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        
    </body>
</html>