<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<!-- ADD STYLING HERE-->
    <style>
        
        .mainContent {
            padding-top: 30px;
            padding-left: 30px;
        }
        
        .pageHeader {
            padding-top: 30px;
            padding-left: 30px;
        }
        
        .sidebarIcon {
            width: 64px;
            height: 64px;
        }
        
        .linksColumn {
            padding-top: 30px;
        }

        .mainTextBody {
            font-size: 16px;
        }
        
        
    </style>
    
<!--    INCLUDE STATIC FILES HERE-->
    <head>
        <title>CDCL</title>
        
        <meta chatset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link
              rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
        </script>
        
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <script src="{% static 'js/common.js' %}"></script>
        
    </head>
<!--    ALL JAVASCRIPT/JQUERY GOES HERE-->
    <script>
        
        
        $(document).ready(function() {

            
            
        });
        
    </script>

    <body>
        
        
        
        
        
        <!-- TOP NAV BAR -->
        <div class="container-fluid navbarContainer row">
            <div class="col-sm-12 topNavBar" align="middle">
                <div class="col-sm-2 home">
                    <br>
                    <a href="{% url 'index' %}">
                        <img id="aboutIcon" class="navbarIcon" src="{% static "images/homeIcon.png" %}">
                        <p class="navbarText">Home</p>
                    </a>
                </div>
                <div class="col-sm-2 about">
                    <br>
                    <a href="{% url 'about' %}">
                        <img id="aboutIcon" class="navbarIcon" src="{% static "images/aboutIcon.png" %}">
                        <p class="navbarText">About</p>
                    </a>
                </div>
                <div class="col-sm-2 officers">
                    <br>
                    <img id="officerIcon" class="navbarIcon" src="{% static "images/officerIcon.png" %}">
                    <p class="navbarText">Officers</p>
                </div>
                <div class="col-sm-2 rules">
                    <br>
                    <a href="{% url 'constitution' %}">
                        <img id="rulesIcon" class="navbarIcon" src="{% static "images/rulesIcon.png" %}">
                        <p class="navbarText">Rules &amp; Constitution</p>
                    </a>
                </div>
                <div class="col-sm-2 clubs">
                    <br>
                    <a href="{% url 'clubs' %}">
                        <img id="clubIcon" class="navbarIcon" src="{% static "images/clubIcon.png" %}">
                        <p class="navbarText">Clubs</p>
                    </a>
                </div>
                <div class="col-sm-2 results">
                    <br>
                    <a href="{% url 'resultsPage' %}">
                        <img id="resultsIcon" class="navbarIcon" src="{% static "images/resultsIcon.png" %}">
                        <p class="navbarText">Results</p>
                    </a>
                </div>
                 
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="pageHeader">
                <h1 class="homepageTile">CANNOCK &amp; DISTRICT CHESS LEAGUE: OFFICERS</h1>
                <p class="lead homePageDescription">CDCL Officers.</p>
            </div>
            <hr>
        </div>
        
        <div class="container-fluid">

            <div class="col-sm-12 mainTextBody">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Contact
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                President
                            </td>
                            <td>
                                Des Green
                            </td>
                            <td>
                                <ul>
                                    <li>Coleshill Chess Club</li>
                                    <li>07736066825</li>
                                    <li>desgreen63 (at) virginmedia (dot) com</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Vice President
                            </td>
                            <td>
                                Ray Dolan
                            </td>
                            <td>
                                <ul>
                                    <li>Norton Canes Chess Club</li>
                                    <li>07980101744</li>
                                    <li>sunshine (dot) dolan (at) gmail (dot) com</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                General Secretary
                            </td>
                            <td>
                                Mr Peter Oliver
                            </td>
                            <td>
                                <ul>
                                    <li>Tamworth Chess Club</li>
                                    <li>01827 830337</li>
                                    <li>01827 830337</li>
                                    <li>pjroliver (at) btinternet (dot) com</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Treasurer
                            </td>
                            <td>
                                Mrs Eunice Dolan
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <p>23 Hollands Road</p>
                                        <p>Walsall</p>
                                        <p>West Midlands</p>
                                        <p>WS3 3AT</p>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Records Secretary</p>
                                <p>Tournaments Secretary</p>
                                <p>Grading Officer</p>
                            </td>
                            <td>
                                Roy Smith
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <p>60 Hospital Road</p>
                                        <p>Burntwood</p>
                                        <p>WS7 0EQ</p>
                                    </li>
                                    <li>
                                        07932242773
                                    </li>
                                    <li>
                                        recordsecretary (dot) cdcl (at) hotmail (dot) co.uk
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Promotions Officer
                            </td>
                            <td>
                                Ray Dolan
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Staffordshire Delegate
                            </td>
                            <td>
                                Matthew Carr
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                ECF Delegate
                            </td>
                            <td>
                                Andrew Leadbetter
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Auditor
                            </td>
                            <td>
                                Andrew Davies
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Webmaster
                            </td>
                            <td>
                                Richard Smith
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        07795900014
                                    </li>
                                    <li>
                                        rhs795 (at) gmail (dot) com
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rules and Disputes Subcommittee
                            </td>
                            <td>
                                <p>Matthew Carr</p>
                                <p>Andrew Leadbetter</p>
                                <p>Simon Jones</p>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </body>
</html>