<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<!-- ADD STYLING HERE-->
    <style>
        
        .menuContainer {
            overflow-y: auto;
            background-color: #404040;
        }
        
        .menuIcon {
            padding-bottom: 10px;
        }
        
        .menuElement {
            padding-bottom: 25px;
        }
        
        .menuText {
            color: #4cc3d9;
        }

        .tableIcon {
            width: 32px;
            height: 32px;
        }

    </style>
    
<!--    INCLUDE STATIC FILES HERE-->
    <head>
        <title>CDCL</title>
        
        <meta chatset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link
              rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
        </script>
        
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <script src="{% static 'js/common.js' %}"></script>
        <script src="{% static 'js/userManagementToolSettings.js' %}"></script>
        
        
    </head>
<!--    ALL JAVASCRIPT/JQUERY GOES HERE-->
    <script>
        
        
        $(document).ready(function() {

            var pageMessage = {{pageMessage|safe}};

            console.log(pageMessage);
            var userData = {{userData|safe}};
            
            var checkedIconFilepath = "{% static 'images/checkedIcon.png' %}";
            var uncheckedIconFilepath = "{% static 'images/uncheckedIcon.png' %}";
            var playerIconFilepath = "{% static 'images/playerIcon.png' %}";
            var dataIconFilepath = "{% static 'images/playerIcon.png' %}";

            handlePageMessage(pageMessage);

            initUI(
                userData,
                checkedIconFilepath,
                uncheckedIconFilepath,
                playerIconFilepath,
                dataIconFilepath
            );


            displayUserDataModal(userData);
            displayPlayerDataModal(userData);
            menuHover();

            toggleActivity();
            toggleSuperuser();
            toggleOfficer();
            togglRecords();
            toggleTreasurer();
            generatePlayerReport();
            generateFixtureReport();

        });
        
    </script>

    <body>
        
         {% block content %}
            <form id="userManagementToolsForm" method="post" action=".">
            {% csrf_token %}
            {% for field in userManagementToolsForm %}
            {{ field.as_hidden }}
            {% endfor %}
        {% endblock %}
        
        <!-- PAGE MESSAGE MODAL-->
        
        <div id="messageModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <div class="modal-content">
                    <div class="modal-header messageModelHeader">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title" id="messageTitle"></h2>
                    </div>
                    <div class="modal-body">
                        
                        <div class="col-sm-12"><br></div>
                        
                        <div class="col-sm-12">
                            <h3 id="messageBody"></h3>
                        </div>
                        
                    </div>

                    <div class="modal-footer">

                    </div>
                
                </div>

            </div>
        </div>

        <div id="userdataModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <div class="modal-content">
                    <div class="modal-header userdataModelHeader">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title" id="userdataTitle"></h2>
                    </div>
                    <div class="modal-body">
                        
                        <div class="col-sm-12"><br></div>
                        
                        <div class="col-sm-12 row">
                            <div class="col-sm-6"><h3 align="right">Forenames:</h3></div>
                            <div class="col-sm-6"><h5 class="userdataText" id="userdata_forenames"></h5></div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6"><h3 align="right">Surname:</h3></div>
                            <div class="col-sm-6"><h5 class="userdataText" id="userdata_surname"></h5></div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6"><h3 align="right">Primary Contact Number:</h3></div>
                            <div class="col-sm-6"><h5 class="userdataText" id="userdata_primaryContactNumber"></h5></div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6"><h3 align="right">Backup Contact Number:</h3></div>
                            <div class="col-sm-6"><h5 class="userdataText" id="userdata_backupContactNumber"></h5></div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6"><h3 align="right">email:</h3></div>
                            <div class="col-sm-6"><h5 class="userdataText" id="userdata_email"></h5></div>
                        </div>

                    </div>

                    <div class="modal-footer">

                    </div>
                
                </div>

            </div>
        </div>



        <div id="playerdataModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <div class="modal-content">
                    <div class="modal-header playerdataModelHeader">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title" id="playerdataTitle"></h2>
                    </div>
                    <div class="modal-body">
                        
                        <div class="col-sm-12"><br></div>

                        <div class="col-sm-12 row">
                            <div class="col-sm-6">
                                <h3 align="right">Forenames:</h3>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="playerdataText" id="playerdata_forenames">
                            </div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6">
                                <h3 align="right">Surname:</h3>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="playerdataText" id="playerdata_surname">
                            </div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6">
                                <h3 align="right">ECF Code:</h3>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="playerdataText" id="playerdata_ecf">
                            </div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6">
                                <h3 align="right">Grading:</h3>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="playerdataText" id="playerdata_grading">
                            </div>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6">
                                <h3 align="right">Club:</h3>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="playerdataText" id="playerdata_club">
                            </div>
                        </div>
                        
                    </div>

                    <div class="modal-footer">

                    </div>
                
                </div>

            </div>
        </div>



        
        <!-- TOP NAV BAR -->
        <div class="container-fluid navbarContainer row">
            <div class="col-sm-12 topNavBar" align="middle">
                <div class="col-sm-2 home">
                    <br>
                    <a href="{% url 'index' %}">
                    <img id="aboutIcon" class="navbarIcon" src="{% static 'images/homeIcon.png' %}">
                    <p class="navbarText">Home</p>
                    </a>
                </div>
                <div class="col-sm-2 about">
                    <br>
                    <a href="{% url 'about' %}">
                        <img id="aboutIcon" class="navbarIcon" src="{% static 'images/aboutIcon.png' %}">
                        <p class="navbarText">About</p>
                    </a>
                </div>
                <div class="col-sm-2 officers">
                    <br>
                    <a href="{% url 'officers' %}">
                        <img id="officerIcon" class="navbarIcon" src="{% static 'images/officerIcon.png' %}">
                        <p class="navbarText">Officers</p>
                    </a>
                </div>
                <div class="col-sm-2 rules">
                    <br>
                    <a href="{% url 'constitution' %}">
                        <img id="rulesIcon" class="navbarIcon" src="{% static 'images/rulesIcon.png' %}">
                        <p class="navbarText">Rules &amp; Constitution</p>
                    </a>
                </div>
                <div class="col-sm-2 clubs">
                    <br>
                    <a href="{% url 'clubs' %}">
                        <img id="clubIcon" class="navbarIcon" src="{% static 'images/clubIcon.png' %}">
                        <p class="navbarText">Clubs</p>
                    </a>
                </div>
                <div class="col-sm-2 results">
                    <br>
                    <a href="{% url 'resultsPage' %}">
                        <img id="resultsIcon" class="navbarIcon" src="{% static "images/resultsIcon.png" %}">
                        <p class="navbarText">Results</p>
                    </a>
                </div>
                 
            </div>
        </div>
        
        
        
        
        <div class="container-fluid dashContainer row">

            <div class="col-sm-2 menuContainer" align="middle">
                <h2 class="menuText">MENU</h2>
                <br>
                <table>
                    <tbody>
                        <tr>
                            <td class="menuElement" id="dashboardElement" align="middle">
                                <a href="{% url 'dashboard' %}">
                                    <img id="dashboardIcon" class="menuIcon" src="{% static "images/dashboardIcon.png" %}">
                                    <p class="menuText">Dashboard</p>
                                </a>
                            </td>
                        </tr>
                        {% if request.user.is_superuser or request.user.userdata.isOfficer %}
                            <tr>
                                <td class="menuElement" id="postAnnouncementElement" align="middle">
                                    <a href="{% url 'announcementsPage' %}">
                                        <img id="announcementIcon" class="menuIcon" src="{% static "images/announcementIcon.png" %}">
                                        <p class="menuText">Announcements</p>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="menuElement" id="contactElement" align="middle">
                                <img id="sendMailIcon" class="menuIcon" src="{% static "images/sendMailIcon.png" %}">
                                <p class="menuText">Mailing</p>
                            </td>
                        </tr>
                        {% if request.user.is_superuser or request.user.userdata.isRecordSecretary %}
                            <tr>
                                <td class="menuElement" id="clubManagement" align="middle">
                                    <a href="{% url 'clubManagement' %}">
                                        <img id="clubManagementIcon" class="menuIcon" src="{% static "images/clubManagementIcon.png" %}">
                                        <p class="menuText">Clubs</p>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if request.user.is_superuser or request.user.userdata.isRecordSecretary %}
                        <tr>
                            <td class="menuElement" id="players" align="middle">
                                <a href="{% url 'playerManagement' %}">
                                    <img id="playersIcon" class="menuIcon" src="{% static "images/playersIcon.png" %}">
                                    <p class="menuText">Players</p>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% if request.user.is_superuser or request.user.userdata.isRecordSecretary %}
                        <tr>
                            <td class="menuElement" id="fixtures" align="middle">
                                <a href="{% url 'fixtures' %}">
                                    <img id="fixuresIcon" class="menuIcon" src="{% static "images/fixtures.png" %}">
                                    <p class="menuText">Fixtures</p>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% if request.user.is_superuser or request.user.player.isCaptain or request.user.userdata.isRecordSecretary %}
                            <tr>
                                <td class="menuElement" id="addResults" align="middle">
                                    <a href="{% url 'resultsSubmission' %}">
                                        <img id="addResultsIcon" class="menuIcon" src="{% static "images/resultsIcon.png" %}">
                                        <p class="menuText">Submit Results</p>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="menuElement" id="userDetails" align="middle">
                                <a href="{% url 'userDetails' %}">
                                    <img id="userDetailsIcon" class="menuIcon" src="{% static "images/userDetailsIcon.png" %}">
                                    <p class="menuText">User Details</p>
                                </a>
                            </td>
                        </tr>
                        {% if request.user.is_superuser or request.user.userdata.isRecordSecretary %}
                            <tr>
                                <td class="menuElement" id="toolSettings" align="middle">
                                    <img id="settingsIcon" class="menuIcon" src="{% static "images/settingsIcon.png" %}">
                                    <p class="menuText">User Management &amp; Tool Settings</p>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="menuElement" id="forum" align="middle">
                                <img id="forumIcon" class="menuIcon" src="{% static "images/forumIcon.png" %}">
                                <p class="menuText">Forum</p>
                            </td>
                        </tr>
                        {% if request.user.is_superuser or request.user.userdata.isTreasurer %}
                            <tr>
                                <td class="menuElement" id="finance" align="middle">
                                    <img id="financeIcon" class="menuIcon" src="{% static "images/financeIcon.png" %}">
                                    <p class="menuText">Finance</p>
                                </td>
                            </tr>
                        {% endif %}
                    
                    </tbody>
                </table>
                
            </div>
            
            <div class="container-fluid col-sm-10 mainContainer">
                <div class="col-sm-12 userHeader">
                    <h3>User Management &amp; Tool Settings</h3>
                </div>
            
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="col-sm-12">
                    <br>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="col-sm-12" align="middle">
                    <div class="col-sm-3">
                        <button type="button" id="playerReportRequest" class="btn btn-primary" data-dismiss="modal">Request Player Report</button>
                    </div>
                    <div class="col-sm-3">
                        <a href="{% url 'playerReport.csv'' %}" class="btn btn-primary" data-dismiss="modal">Download Player Report</button></a>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" id="fixtureReportRequest" class="btn btn-primary" data-dismiss="modal">Request Fixture Report</button>
                    </div>
                    <div class="col-sm-3">
                        <a href="" class="btn btn-primary" data-dismiss="modal">Download Fixture Report</button></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="col-sm-12">
                    <table class="table table-hover" id="userTable">
                    <thead>
                        <tr>
                            <th><h4>Username</h4></th>
                            <th><h4>Active</h4></th>
                            <th><h4>Superuser</h4></th>
                            <th><h4>Officer</h4></th>
                            <th><h4>RecordSecretary</h4></th>
                            <th><h4>Treasurer</h4></th>
                            <th><h4>User Data</h4></th>
                            <th><h4>Player Data</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                         
                    </tbody>
                </table>
                   
                </div>

            </div>
        </div>
                
        <div class="container-fluid footer">
            <a href="{% url 'logout' %}">
                <img id="logoutIcon" class="logoutIcon" src="{% static 'images/logoutIcon.png' %}">
            </a>
        </div>
        
        
    </body>
</html>