<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<!-- ADD STYLING HERE-->
    <style>
        
        .navBar {
            background-color: #666666;
        }
        
        .navbarIcon {
            width: 32px;
            height: 32px;
        }
        
        .navbarText {
            color: #FFFFFF;
        }
        
        .newsContainer {
            background-color: #555555;
        }
        
        .toolsContainer {
            background-color: #666666;
        }
        
        .toolbarIcons {
            width: 64px;
            height: 64px;
        }
        
    </style>
    
<!--    INCLUDE STATIC FILES HERE-->
    <head>
        <title>INDEX</title>
        
        <meta chatset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
<!--    ALL JAVASCRIPT/JQUERY GOES HERE-->
    <script>
        
        
        $(document).ready(function() {
            
        });
        
    </script>
<!--    33A7FF-->
<!--    HTML BODY-->
    <body>
        
        
        <div class="container-fluid navbarContainer">
            <div class="col-sm-12 navBar" align="middle">
                <div class="col-sm-2 about">
                    
                    <br>
                    <img id="aboutIcon" class="navbarIcon" src="{% static "images/aboutIcon.png" %}">
                    <p class="navbarText">about</p>
                    
                </div>
                <div class="col-sm-2 officers">
                    
                    <br>
                    <img id="officerIcon" class="navbarIcon" src="{% static "images/officerIcon.png" %}">
                    <p class="navbarText">officers</p>
                    
                </div>
                <div class="col-sm-2 constitution">
                    <br>
                    <img id="constIcon" class="navbarIcon" src="{% static "images/constIcon.png" %}">
                    <p class="navbarText">constitution</p>
                </div>
                <div class="col-sm-2 rules">
                    <br>
                    <img id="rulesIcon" class="navbarIcon" src="{% static "images/rulesIcon.png" %}">
                    <p class="navbarText">rules</p>
                </div>
                <div class="col-sm-2 clubs">
                    <br>
                    <img id="clubIcon" class="navbarIcon" src="{% static "images/clubIcon.png" %}">
                    <p class="navbarText">clubs</p>
                </div>
                <div class="col-sm-2 results">
                    <br>
                    <img id="resultsIcon" class="navbarIcon" src="{% static "images/resultsIcon.png" %}">
                    <p class="navbarText">results</p>
                </div>
                 
            </div>
        </div>
        
        
        <div class="container-fluid headerContainer">
            
            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-8" align="center">
                        <h1>CDCL</h1>                
                        <p>CANNOCK &amp; DISTRICT CHESS LEAGUE</p>
                    </div>
                    <div class="col-sm-4" align="center">
                        <img id="headerKnight" class="headerElement" src="{% static "images/headerImage.png" %}">
                    </div>
                </div>
            </div>
            
        </div>
        
        
        <div class="container-fluid bodyContainer">
            
            <div class="row">
                
                <div class="col-sm-10 newsContainer">
                    <div class="col-sm-12 newsHeaderContainer">
                        <h2>NEWS AND ANNOUNCEMENTS</h2>
                    </div>
                </div>
                <div class="col-sm-2 toolsContainer" align="center">
                    <br>
                    <div class="col-sm-12">
                        <a href="{% url 'loginPage' %}">
                            <img id="loginIcon" class="toolbarIcons" src="{% static "images/loginIcon.png" %}">
                        </a>
                        <p class="navbarText">Log In</p>
                    </div>
                    <div class="col-sm-12">
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <img id="newUserIcon" class="toolbarIcons" src="{% static "images/newUserIcon.png" %}">
                        <p class="navbarText">Request Account</p>
                    </div>
                </div>
            </div>
            
        </div>
        
        
    </body>
</html>