<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<!-- ADD STYLING HERE-->
    <style>
        
        
    </style>
    
<!--    INCLUDE STATIC FILES HERE-->
    <head>
        <title>CDCL</title>
        
        <meta chatset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static "external/jquery/jquery112.js" %}"></script>
        <script src="{% static "external/bootstrap/js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" type="test/css" href="{% static "external/bootstrap/css/bootstrap.css" %}">
        
    </head>
<!--    ALL JAVASCRIPT/JQUERY GOES HERE-->
    <script>
        
        
        $(document).ready(function() {
            
        });
        
    </script>

    <body>
        <!-- TOP NAV BAR -->
        <div class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    <a class="blog-nav-item active" href="#">Home</a>
                    <a class="blog-nav-item" href="#">About</a>
                    <a class="blog-nav-item" href="#">Clubs</a>
                    <a class="blog-nav-item" href="#">Officers</a>
                    <a class="blog-nav-item" href="#">Rules</a>
                    <a class="blog-nav-item" href="#">Constitution</a>
                    <a class="blog-nav-item" href="#">Results</a>
                </nav>
            </div>
        </div>
        
    </body>
</html>